<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<footer id="footer" th:fragment="footer">
		<div class="directOn ng-scope no" ><i>바로방문ON</i></div>
			<div class="directPop" >
				<div class="directPopInner">
					<div class="dTitle">바로방문</div>
					<div class="dCont">
						<div class="chkOn">엘롯데에 오시면<br/>언제나 바로방문ON을 확인하세요!</div>
						<ul class="dInfo1">
							<li>바로방문 OFF일 경우 바로방문ON혜택(쿠폰사용, 구매사은 신청등) 제공에 제한이 있을 수 있습니다.</li>
							<li>APP에서 바로방문ON이 표시되지 않으면 <span>APP을 종료한 후</span> 재 실행해 주시면 정상적으로 표시 됩니다. </li>
						</ul>
						<div class="dTitle2">APP 종료 방법</div>
						<dl>
							<dt>IOS</dt>
							<dd>홈버튼을 2번 누르고 실행중인 앱을 위로 끌어올려 주시면 종료됩니다.</dd>
						</dl>
						<dl class="android">
							<dt>Android</dt>
							<dd>BACK키를 2회이상 연속으로 터치해 주시면 종료됩니다.</dd>
						</dl>
					</div>
					<a  href="#"  class="dClose">닫기</a>
				</div>
			</div>    
			<div class="info">
				<ul>
		            <li><strong>(주)롯데닷컴</strong></li>
		            <li><a  href="#">사업자정보확인</a></li>
		            <li><a  href="#">채무지급보증안내</a></li>
		        </ul>
		        <p>
					<span class="addFirst">대표이사 : 김형준</span>
					<span>서울시 중구 을지로 158 10층(을지로4가, 삼풍빌딩)</span>
					<span>사업자등록번호 : 101-81-52964 통신판매업신고 : 중구 제00402호</span>
					<span>호스팅 사업자 : (주)롯데닷컴</span>
					<span>개인정보보호책임자 : 윤상선     청소년보호책임자 : 김찬기</span>
					<span>고객만족센터 : <a href="tel:1899-2500">1899-2500</a> / FAX : 02-3675-2500 ellotte@lotte.com</span>
					<span>본 매장의 운영에 따른 법적책임은 (주)롯데닷컴에 있습니다.</span>
				</p>
			</div>
			<div class="policy">
				<ul>
		            <li><a href="http://m.ellotte.com/agreement/custAgreement.do?c=&amp;udid=&amp;v=&amp;cn=149924&amp;cdn=&amp;schema=&amp;tclick=m_EL_footer_Clk_Lnk_10">이용약관</a></li>
		            <li><a href="http://m.ellotte.com/agreement/custPrivacy.do?c=&amp;udid=&amp;v=&amp;cn=149924&amp;cdn=&amp;schema=&amp;tclick=m_EL_footer_Clk_Lnk_11"><strong>개인정보처리방침</strong></a></li>
		            <li><a href="http://m.ellotte.com/agreement/protect_youth.do?c=&amp;udid=&amp;v=&amp;cn=149924&amp;cdn=&amp;schema=&amp;tclick=m_EL_footer_Clk_Lnk_12">청소년보호정책</a></li>
				</ul>
			</div>
		<div class="capyright">Copyright © LOTTE.com, Inc. All rights Reserved.</div>
	</footer>
	<div class="quick_btn"><div  class="ng-hide"><a  href="#" class="btn_back">뒤로</a><a  href="#" class="btn_top">위로</a></div><a href="#" class="btn_talk">톡상담</a></div>
</html>